<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  <title>{{ _target.title }} | {{ _config.project.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  <link rel="stylesheet" href="{{ '/assets/' + _target.handle.split('--')[0] + '/' + _target.handle.split('--')[0] + '.css' }}">
  <style>
  body {
    padding-top: 1rem !important;
  }
  </style>
</head>
<body class="vf-body">
  {{ yield | safe }}
</body>
</html>
